--
-- PostgreSQL database dump
--

\restrict atRfgvQFxyb6h9gdfSxC9DoP5d07BD9hnEUgdbEBp4RBYXPudGEHJooJkQdOgSe

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: contents; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.contents (
    content_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tmdb_id bigint,
    title character varying(255) NOT NULL,
    description text,
    type character varying(100),
    category character varying(100),
    tags text,
    duration integer,
    creator_id character varying(255),
    upload_date date,
    language character varying(255),
    popularity_score double precision DEFAULT 0,
    metadata jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.contents OWNER TO admin;

--
-- Name: streaming_links; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.streaming_links (
    link_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content_id uuid,
    platform character varying(100),
    quality character varying(50),
    url text NOT NULL,
    is_premium boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.streaming_links OWNER TO admin;

--
-- Name: trailers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.trailers (
    trailer_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    content_id uuid,
    trailer_url text NOT NULL,
    thumbnail_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.trailers OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    user_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255),
    email character varying(255),
    age integer,
    gender character varying(50),
    password character varying(255) NOT NULL,
    preferences jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO admin;

--
-- Data for Name: contents; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: streaming_links; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.streaming_links (link_id, content_id, platform, quality, url, is_premium, created_at) FROM stdin;
\.


--
-- Data for Name: trailers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.trailers (trailer_id, content_id, trailer_url, thumbnail_url, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (user_id, name, email, age, gender, password, preferences, created_at) FROM stdin;
2c88734a-703c-4bf3-81f2-dad9a300c867	joker	admin@gmail.com	23	male	$2b$10$MEcsvNCnBUHtZ9KKHgPKgOBJPNxukqAUumhKDcTvGRnt3hwPfVbcO	{"genres": ["Com├®die", "Drame", "Action", "Aventure"], "completedAt": "2025-12-11T13:33:45.508Z"}	2025-12-11 13:33:45.60482
\.


--
-- Name: contents contents_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.contents
    ADD CONSTRAINT contents_pkey PRIMARY KEY (content_id);


--
-- Name: contents contents_tmdb_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.contents
    ADD CONSTRAINT contents_tmdb_id_key UNIQUE (tmdb_id);


--
-- Name: streaming_links streaming_links_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.streaming_links
    ADD CONSTRAINT streaming_links_pkey PRIMARY KEY (link_id);


--
-- Name: trailers trailers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.trailers
    ADD CONSTRAINT trailers_pkey PRIMARY KEY (trailer_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_contents_category; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_contents_category ON public.contents USING btree (category);


--
-- Name: idx_contents_title; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_contents_title ON public.contents USING btree (title);


--
-- Name: idx_contents_type; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_contents_type ON public.contents USING btree (type);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: streaming_links streaming_links_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.streaming_links
    ADD CONSTRAINT streaming_links_content_id_fkey FOREIGN KEY (content_id) REFERENCES public.contents(content_id) ON DELETE CASCADE;


--
-- Name: trailers trailers_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.trailers
    ADD CONSTRAINT trailers_content_id_fkey FOREIGN KEY (content_id) REFERENCES public.contents(content_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict atRfgvQFxyb6h9gdfSxC9DoP5d07BD9hnEUgdbEBp4RBYXPudGEHJooJkQdOgSe

